.cell {
    border: 1.5px solid;
    border-color: #eeeeee #999999 #999999 #eeeeee;
    background-color: gainsboro;
    height: 45px;
    width: 45px;
    text-align: center;  
}

.clicked {
    border: 1.5px solid darkgray;
}